body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input {
    margin: 0;
    padding: 0;
}

body{
    min-width:1200px;
    background-color:#edeff0;
    color:#5e5e5e;
    font:14px/2em Microsofo Yahei;
}

img {
    border: none;
}

li{
    list-style: none;
}

input,select,textarea {
    outline: none;
    border: none;
    background: none;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    color: #656565;
}

a:link,a:visited{
    color:#14191e;
    }

a:hover{
    color:#c9394a;
    }

a:active{
    color:#666;
}

/*清浮动*/
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}